<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>

  <h1>Registro</h1>
  <form id="registerForm">
    <input type="email" id="regEmail" placeholder="Email" required>
    <input type="password" id="regPassword" placeholder="Password" required>
    <button type="submit">Register</button>
  </form>

  <h1>Acceder a Ruta Protegida</h1>
  <button id="protectedBtn">Acceder</button>

  <script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const response = await fetch('/api/auth/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      });
      const data = await response.json();
      console.log(data);
      if (data.token) {        
        localStorage.setItem('token', data.token);
        alert('Has iniciado Sesión!');
      } else {
        alert('Error al iniciar sesion');
      }
    });

    document.getElementById('registerForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = document.getElementById('regEmail').value;
      const password = document.getElementById('regPassword').value;
      const response = await fetch('/api/auth/register', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      });
      if (response.ok) {
        alert('Registro Exitoso!');
      } else {
        alert('Error al registrar usuario');
      }
    });

    document.getElementById('protectedBtn').addEventListener('click', async () => {
      const token = localStorage.getItem('token');
      const response = await fetch('/api/auth/protected', {
        method: 'GET',
         headers: { 'Authorization': token }
      });
      if (response.ok) {
        const data = await response.text();
        alert(data);
      } else {
        alert('Error al acceder a la ruta protejida');
      }
    });
  </script>
</body>
</html>
